<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>

    <nav>
    <a href="/api/v1">Inicio</a>
    <a href="/api/v1/estudiantes">Ver Estudiantes</a>
    <a href="/api/v1/estudiantes/register">Registrar Estudiante</a>
    <a href="/api/v1/notas">Ver Notas</a>
    <a href="/api/v1/notas/register">Registrar Nota</a>
    <a href="/api/v1/reporte">Reporte General</a>
  </nav>

    Bienvenido a mi sistema de gestión de notas con FastAPI 😀
</body>
</html>